<div class="search-bar">
    <div class="search-wrapper">
        <input type="search" class="search-input" name="search" id="" [placeholder]="contentObj.searchBar.searchFor"
            [class.input-ltr]="dir == 'ltr'">
        <img class="search-icon" src="assets/svg/search-normal.svg" alt="settings"
            [class.search-icon-ltr]="dir == 'ltr'">

    </div>
    <button class="search-options-button">
        <img src="assets/svg/setting-4.svg" alt="settings">
    </button>
    <button class="search-options-button">
        <img src="assets/svg/arrow-3.svg" alt="sort arrow">
    </button>
</div>